# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
*.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
build/*
!build/*/
build/*/*
!build/*/Data
build/*/Data/*
!build/*/Data/Print_template.html
debug/
release/

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

#Other
*.log
*.fnl
*.kll
*.txt
*.xls
*.fin
.vscode/
save.json
conf.json
Koduleht/
images_store/
image_store/
.qtc_clangd/
