<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
</head>
<body lang="et-EE" link="#5000a0" bgcolor="#ffffff" dir="ltr" style="background: #ffffff">
<p style="margin-top: 20; margin-bottom: 0; margin-left: 20"><font face="Arial, sans-serif" style="font-size: 25pt">#competitionName#</font></p>
<p class="western" style="margin-top: 0; margin-bottom: 0; margin-left: 20"><font face="Arial, sans-serif" style="font-size: 25pt">#event#</font></p>
<p align="right" style="margin-bottom: 0"><font face="Arial, sans-serif" style="font-size: 25pt">#timePlace#		</font></p>
<table width="100%" cellpadding="0" cellspacing="0">
	<thead>
		<tr bgcolor="#ffffff">
			<th height="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 10; padding-bottom: 10; padding-left: 0; padding-right: 0">
				<p align="center"><font face="Arial, sans-serif" style="font-size: 25pt">#rank#</font></p>
			</th>
			<th height="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 10; padding-bottom: 10; padding-left: 10; padding-right: 0">
				<p align="left"><font face="Arial, sans-serif" style="font-size: 25pt"></font></p>
			</th>
			<th height="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 10; padding-bottom: 10; padding-left: 10; padding-right: 0">
				<p align="left"><font face="Arial, sans-serif" style="font-size: 25pt">#name#</font></p>
			</th>		
			<th height="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 10; padding-bottom: 10; padding-left: 0; padding-right: 0">
				<p align="center"><font face="Arial, sans-serif" style="font-size: 25pt">#series#</font></p>
			</th>
			<th height="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 10; padding-bottom: 10; padding-left: 0; padding-right: 0">
				<p align="center"><font face="Arial, sans-serif" style="font-size: 25pt">#points#</font></p>
			</th>
			<th height="13" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 10; padding-bottom: 10; padding-left: 0; padding-right: 0">
				<p align="center"><font face="Arial, sans-serif" style="font-size: 25pt">#totalPoints#</font></p>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="border: none; padding: 0">
				<p align="center"><font face="Arial, sans-serif" style="font-size: 25pt">#no#</font></p>
			</td>
			<td style="border: none; padding: 0; padding-left: 10">
				<p><font face="Arial, sans-serif" style="font-size: 25pt">#teamName#</font></p>
			</td>
			<td style="border: none; padding: 0; padding-left: 10">
				<p><font face="Arial, sans-serif" style="font-size: 25pt">#competitorName#</font></p>
			</td>
			<td style="border: none; padding: 0">
				<p align="center"><font face="Arial, sans-serif" style="font-size: 25pt">#S1#</font></p>
			</td>
			<td style="border: none; padding: 0; padding-left: 2; padding-right: 2">
				<p align="center"><font face="Arial, sans-serif" style="font-size: 25pt"><b>#sum#</b></font></p>
			</td>
			<td style="border: none; padding: 0">
				<p align="center"><font face="Arial, sans-serif" style="font-size: 25pt">#difference#</font><br>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<p><br><br>
</p>
</body>
</html>
